[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "==0.24.0"
backcall = "==0.1.0"
bcrypt = "==3.1.4"
cffi = "==1.11.5"
cryptography = "==2.3.1"
decorator = "==4.3.0"
et-xmlfile = "==1.0.1"
gevent = "==1.3.6"
greenlet = "==0.4.15"
idna = "==2.7"
ipython = "*"
ipython-genutils = "==0.2.0"
jdcal = "==1.4"
jedi = "==0.13.1"
netmiko = "==2.2.2"
openpyxl = "==2.5.8"
paramiko = "==2.4.2"
parso = "==0.3.1"
pexpect = "==4.6.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==2.0.5"
ptyprocess = "==0.6.0"
pyasn1 = "==0.4.4"
pycparser = "==2.19"
pymongo = "*"
pynacl = "==1.3.0"
pyserial = "==3.4"
pytz = "*"
regex = "==2018.8.29"
scp = "==0.11.0"
six = "==1.11.0"
textfsm = "==0.4.1"
traitlets = "==4.3.2"
tzlocal = "==1.5.1"
wcwidth = "==0.1.7"
yapf = "==0.24.0"
apscheduler = "==3.5.3"
pygments = "==2.2.0"
pyyaml = "==3.13"
slackclient = "*"

[requires]
python_version = "3.6"
